

  <div style="text-align:center;"><br><br>
    <input type="text" placeholder="Loan Amount" class="form-control" #loan_amount><br><br>
    <select name="Type Of Loan" id="loan_type" >
      <option value="pl">Personal Loan</option>
      <option value="al">Auto Loan</option>
      <option value="gl">Gold Loan</option>
      <option value="el">Education Loan</option>
    </select><br><br>
    <input type="text" placeholder="Loan Term(in years)" class="form-control" #loan_term><br><br>
    <input type="text" placeholder="Loan Handling Fees" class="form-control" #loan_fees><br><br>
    <input type="text" placeholder="Origination Account" class="form-control" #origin_account><br><br>

    <select name="Loan Status" id="loan_status" >
      <option value="req">Requested</option>
      <option value=pro>Processing</option>
      <option value="app">Approved</option>
      <option value="rej">Rejected</option>
    </select><br><br>
    <button class="btn btn-primary">SUBMIT</button>
    </div>