<!-- <form class="profile-form">
    <mat-form-field class="profile-full-width">
      <mat-label>Aathar Card</mat-label>
      <input matInput>
    </mat-form-field>
  
    <mat-form-field class="profile-full-width">
    <mat-label>PAN Card</mat-label>
      <input matInput>
    </mat-form-field>
    
    <mat-form-field class="profile-full-width">
    <mat-label>Account Transaction History
    </mat-label>
      <input matInput>
    </mat-form-field>
  
    <mat-form-field class="profile-full-width">
    <mat-label>Form 16</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="profile-full-width">
      <mat-label>ITR Subited Docs</mat-label>
      <input matInput>
      </mat-form-field>

    <mat-form-field class="profile-full-width">
        <mat-label>Property Docs</mat-label>
          <input matInput>
        </mat-form-field> 
   
  </form> -->

  

  <div style="text-align:center;"><br><br>
  <table>
    <tr>
    <td><label for="pan">Pan Card:</label></td>
    <td>  <input type="file" id="pan" name="pan" class="form-control" #pan><br><br></td>
    </tr>
    <tr>
      <td>  <label for="aadhar">Aadhar Card:</label></td>
      <td>   <input type="file" id="aadhar" name="aadhar" class="form-control" #aadhar><br><br></td>
    </tr>
    <tr>
      <td>   <label for="ath">Account Transaction History:</label></td>
      <td>  <input type="file" id="ath" name="ath" class="form-control" #ath><br><br></td>
  </tr>
  <tr>
    <td>  <label for="form16">Form 16:</label></td>
    <td><input type="file" id="form16" name="form16" class="form-control" #form16><br><br></td>
  </tr>
  <tr>
    <td><label for="itr">ITR File Documents:</label></td>
    <td><input type="file" id="itr" name="itr" class="form-control" #origin_account><br><br></td>
  </tr>
</table>
    </div>