<!-- <form class="profile-form">
    <mat-form-field class="profile-full-width">
      <mat-label>Applicant Business Name</mat-label>
      <input matInput>
    </mat-form-field>
  
    <mat-form-field class="profile-full-width">
    <mat-label>Applikant Business Address</mat-label>
      <input matInput>
    </mat-form-field>
    
    <mat-form-field class="profile-full-width">
    <mat-label>Applicant Business Contact</mat-label>
      <input matInput>
    </mat-form-field>
  
    <mat-form-field class="profile-full-width">
    <mat-label>Applicant Business Email</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="profile-full-width">
      <mat-label>Applicant Project Address</mat-label>
      <input matInput>
      </mat-form-field>

    <mat-form-field class="profile-full-width">
        <mat-label>Applicant Business Ownership %</mat-label>
          <input matInput>
        </mat-form-field>
  
  
   
  </form> -->

  

  <div style="text-align:center;"><br><br>
    <input type="text" placeholder="Applicant Business Name" class="form-control" #abn><br><br>
    
    <input type="text" placeholder="Applikant Business Address" class="form-control" #aba><br><br>
    <input type="text" placeholder="Applicant Business Contact" class="form-control" #abc><br><br>
    <input type="text" placeholder="Applicant Business Email" class="form-control" #abe><br><br>
    <input type="text" placeholder="Applicant Project Address" class="form-control" #apa><br><br>
    <input type="text" placeholder="Applicant Business Ownership %" class="form-control" #abo><br><br>
    
    </div>