

  <div style="text-align:center;"><br><br>
    <input type="text" placeholder="Property_Name" class="form-control" #pname><br><br>
    
    <input type="text" placeholder="Property Address" class="form-control" #paddress><br><br>
    <input type="text" placeholder="Type of Property" class="form-control" #ptype><br><br>
    <input type="text" placeholder="Property Size" class="form-control" #psize><br><br>
    <table>
    <tr><td><label for="psf">Property Square Footage:</label></td>
    <td> <input type="file" id="psq" name="psq" class="form-control" #psq><br><br></td>
    </tr>
    <tr><td> <label for="pi">Propety image:</label></td>
    <td><input type="file" id="pi" name="pi" class="form-control" #pi><br><br></td></tr>
    <tr> <td><label for="gad">Govt Approved Documents:</label></td>
   <td> <input type="file" id="gad" name="gad" class="form-control" #gad><br><br></td>
  </tr>
  </table>
    </div>