<div style="text-align:center;"><br><br>
    <h1>Register</h1>
    <input type="text" placeholder="Enter UserId" class="form-control" #userid><br><br>
    <input type="text" placeholder="Enter FullName(LastNameName)" class="form-control" #username><br><br>
    <input type="text" placeholder="Enter Email" class="form-control" #email><br><br>
    <input type="text" placeholder="Enter Phoe no" class="form-control" #phone><br><br>
    <input type="password" placeholder="Enter Password" class="form-control" #pass><br><br>
    <input type="password" placeholder="Enter Cofirm Password" class="form-control" #uname><br><br>
    <button class="btn btn-primary">SUBMIT</button>
    </div>